[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sedproxy"]
	path = sedproxy
	url = https://github.com/earthsystemdiagnostics/sedproxy
